<%- include('./partials/header.ejs') %>
<% if (locals.goodPromo) {%>
    <h3>Liste des étudiants de la promo <%=goodPromo.name%></h3>
<% } %>
    <ul>
        <% for (let findStudent of findStudents) {%>
            <li key="<%=findStudent.id%>">
                <section>
                    <h4><%=findStudent.first_name + ' ' +findStudent.last_name%> </h4>
                </section>
            </li>
        <% } %>
    </ul>

<%- include('./partials/footer.ejs') %>